
.breadcrumbs{
	margin-bottom: -2px;
	@extend .clearfix;
	&__item{
		float: left;
		@include laptop {
		    margin-bottom: 2px;
		}
		&:not(:last-child):after {
			display: inline-block;
			content: '/';
			margin-right: 5px;
			margin-left: 5px;
		}
	}
	&__link,
	&__item{
		color: #999;
		font-size: 14px;
		font-weight: 400;
		@include laptop {
			font-size: 11px;
		}
	}
	&__link{
		cursor: default;
		transition: color .3s ease;
		&[href]:hover{
			cursor: pointer;
			color: $color_base;
		}
	}
}