mixin credit-advantages-box()
	.credit-advantages-box
		.credit-advantages-box__container.container-box
			.credit-advantages-box__wrap
				.credit-advantages-box__item
					.credit-advantages-box__column.credit-advantages-box__column_pos_1
						.credit-advantages-box__img-box
							img(src="", alt='').credit-advantages-box__img
					.credit-advantages-box__column.credit-advantages-box__column_pos_2
						.credit-advantages-box__title Пополнение бесплатно. Снятие в любых банкоматах
						.credit-advantages-box__subtitle Переводите деньги с других карт, вносите и снимайте в банкоматах рядом с вами
				.credit-advantages-box__item
					.credit-advantages-box__column.credit-advantages-box__column_pos_1
						.credit-advantages-box__img-box
							img(src="", alt='').credit-advantages-box__img
					.credit-advantages-box__column.credit-advantages-box__column_pos_2
						.credit-advantages-box__title Обслуживание карты — от 0 ₽
						.credit-advantages-box__subtitle Переводите деньги с других карт, вносите и снимайте в банкоматах рядом с вами
				.credit-advantages-box__item
					.credit-advantages-box__column.credit-advantages-box__column_pos_1
						.credit-advantages-box__img-box
							img(src="", alt='').credit-advantages-box__img
					.credit-advantages-box__column.credit-advantages-box__column_pos_2
						.credit-advantages-box__title Удобное мобильное приложение
						.credit-advantages-box__subtitle Переводите деньги с других карт, вносите и снимайте в банкоматах рядом с вами
				.credit-advantages-box__item
					.credit-advantages-box__column.credit-advantages-box__column_pos_1
						.credit-advantages-box__img-box
							img(src="", alt='').credit-advantages-box__img
					.credit-advantages-box__column.credit-advantages-box__column_pos_2
						.credit-advantages-box__title Кэшбэк бонусами до 30%
						.credit-advantages-box__subtitle Переводите деньги с других карт, вносите и снимайте в банкоматах рядом с вами
