mixin credit-offer-box()
	.credit-offer-box
		.credit-offer-box__container.container-box
			.credit-offer-box__wrap
				.credit-offer-box__column.credit-offer-box__column_pos_1
					.credit-offer-box__img-box
						img(src="img/credit-offer-box.png", alt='').credit-offer-box__img
					
				.credit-offer-box__column.credit-offer-box__column_pos_2
					.credit-offer-box__content
						.credit-offer-box__main-title Получите кредитную карту, не выходя из дома
						.credit-offer-box__main-subtitle Мгновенное решение, нужен только паспорт. Бесплатно доставим кредитную карту завтра
						.credit-offer-box__list
							.credit-offer-box__item
								.credit-offer-box__title От 12% годовых
								.credit-offer-box__desc Процентная ставка
								a.credit-offer-box__link.btn-main.credit-offer-box__link_show_desktop(href="#" data-credit-offer-box-link) Подробнее
							.credit-offer-box__item
								.credit-offer-box__title До 12 месяцев
								.credit-offer-box__desc Без процентов
							.credit-offer-box__item
								.credit-offer-box__title До 300 000 ₽
								.credit-offer-box__desc Кредитный лимит
								.credit-offer-box__link-wrap
									a.credit-offer-box__link.credit-offer-box__link_show_mobile.btn-main(href="#" data-credit-offer-box-link) Подробнее
