mixin credit-card-box()
	.credit-card-box
		.credit-card-box__container.container-box
			.credit-card-box__main-title Получите кредитную карту, не выходя из дома
			.credit-card-box__wrap.owl-carousel(data-credit-card-box-wrap)
				.credit-card-box__item
					.credit-card-box__title Мгновенное решение по кредиту
					.credit-card-box__desc Одобрение кредита без поручителей и справок о доходах — для решения нужен только паспорт
					.credit-card-box__bottom
						.credit-card-box__img-box
							img.credit-card-box__img(src="img/credit-card-box_1.png", alt='')
				.credit-card-box__item
					.credit-card-box__title Доставка на следующий день
					.credit-card-box__desc Бесплатно привезем кредитную карту в удобное для вас время и место для решения нужен только паспорт
					.credit-card-box__bottom
						.credit-card-box__img-box
							img.credit-card-box__img(src="img/credit-card-box_2.png", alt='')
				.credit-card-box__item
					.credit-card-box__title Мгновенное решение по кредиту
					.credit-card-box__desc Одобрение кредита без поручителей и справок о доходах — для решения нужен только паспорт
					.credit-card-box__bottom
						.credit-card-box__img-box
							img.credit-card-box__img(src="img/credit-card-box_1.png", alt='')
				.credit-card-box__item
					.credit-card-box__title Доставка на следующий день
					.credit-card-box__desc Бесплатно привезем кредитную карту в удобное для вас время и место для решения нужен только паспорт
					.credit-card-box__bottom
						.credit-card-box__img-box
							img.credit-card-box__img(src="img/credit-card-box_2.png", alt='')
